USE [master]
GO
/****** Object:  Database [Hang_xe]    Script Date: 11/30/2024 9:35:43 PM ******/
CREATE DATABASE [Hang_xe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hang_xe', FILENAME = N'D:\Work\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hang_xe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hang_xe_log', FILENAME = N'D:\Work\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hang_xe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hang_xe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hang_xe]
GO
/****** Object:  Table [dbo].[HangXe]    Script Date: 11/30/2024 9:35:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangXe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenHangXe] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HangXe] ON 

INSERT [dbo].[HangXe] ([ID], [TenHangXe], [SoDienThoai]) VALUES (1, N'Hãng Xe A', N'0901234567')
INSERT [dbo].[HangXe] ([ID], [TenHangXe], [SoDienThoai]) VALUES (2, N'Hãng Xe B', N'0912345678')
INSERT [dbo].[HangXe] ([ID], [TenHangXe], [SoDienThoai]) VALUES (3, N'Hãng Xe C', N'0923456789')
SET IDENTITY_INSERT [dbo].[HangXe] OFF
GO
USE [master]
GO
